# IDEs
.idea
.vscode

# Virtual environments
.env/
venv/

# Caches
**/**/__pycache__/
**/__pycache__/
**/.pytest_cache/

# Bucket files
src/server/files
src/client/files

src/__init__.pyc
src/lib/__init__.pyc
tests/__init__.pyc
